.moufa-button {
  border: 1px solid $border-clr;
  color: $font-clr;
  background-color: white;
  padding: pad(1);
  border-radius: $curved-corner;
  cursor: pointer;
  font-weight: bold;
  margin-right: pad(1);
  &:hover {
    transition: all .3s ease-out;
    color: white;
    background-color: $bg-clr;
  }

  &:active {
    color: black;
    background-color: white;
  }
}