.screen-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: pad(1);
  padding-bottom: pad(2);
  .screen {
    border: 1px black solid;
    width: 400px;
    height: 200px;
    padding: 5px;

    input {
      border: none;
    }
  }
  .button-container {
    padding: pad(1) 0;
    display: inline-flex;

    label {
      align-self: center;
    }
  }
}
