.sequencer-container {

  .sequencer {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-gap: 10px;
    padding: pad(1);

    button {
      padding: 5px;
      font-size: 18px;
      background-color: white;
      border: 1px solid $border-clr;
      z-index: 10;
      color: $font-clr;

      &.selected {
        background-color: $selected-box;
      }

      &.active {
        //transition: all .1s ease-out;
        border-color: $active-column;
        border-width: 2px;
      }
    }
  }

  .button-container {
    padding: pad(1);
    display: inline-flex;

    label {
      align-self: center;
    }
  }
}