
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;400;700&display=swap');

//colors
//pallete


$plum: #88527f;
$violet:#9f87af;
$uraninan: #B1DDF1;
$rose-dark:#614344;
$brown:#332C23;



$border-clr: $brown;
$bg-clr: $uraninan;
$font-clr: $brown;

$font-fam: 'Lexend';


$selected-box: $violet;
$active-column: $rose-dark;

$curved-corner: 0;

//functions
@function pad($num){
    @return $num * 10px;
}